<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h1>Become new user</h1>
    <form method="post" action="/users">
        Email: <input type="email" name="email" placeholder="Enter your email..."><br><br>
        Username: <input type="text" name="user" placeholder="Make new username..."><br><br>
        Password: <input type="password" name="pass" placeholder="Make new password..."><br><br>
        <button style="background-color: rgb(67, 158, 195);color: white;">Submit</button>
    </form>
</body>
</html>